/*==================================================

                PRODUCTS HERO

==================================================*/

.products-hero{

    padding:140px 0 110px;

    text-align:center;

    background:

    linear-gradient(

    180deg,

    #ffffff 0%,

    #f8fbfb 100%

    );

}

.products-tag{

    display:inline-block;

    color:var(--primary);

    font-size:14px;

    font-weight:600;

    letter-spacing:4px;

    text-transform:uppercase;

    margin-bottom:18px;

}

.products-hero h1{

    font-size:64px;

    color:var(--dark);

    margin-bottom:25px;

}

.products-hero p{

    width:720px;

    max-width:100%;

    margin:auto;

    font-size:20px;

    line-height:1.8;

    color:#666;

}