/*========================================

                FOOTER

========================================*/

.footer{

    background:#09735E;

    color:#F7F3EA;

    padding:80px 0 35px;

    margin-top:120px;

}

/*========================================

                TOP

========================================*/

.footer-top{

    display:flex;

    justify-content:space-between;

    align-items:flex-start;

    gap:80px;

    padding-bottom:50px;

    border-bottom:1px solid rgba(247,243,234,.20);

}

/*========================================

                BRAND

========================================*/

.footer-brand h2{

    font-size:42px;

    margin-bottom:15px;

    color:#F7F3EA;

}

.footer-brand p{

    font-size:18px;

    margin-bottom:12px;

    opacity:.95;

}

.footer-brand span{

    font-size:16px;

    opacity:.8;

}

/*========================================

                LINKS

========================================*/

.footer-links{

    display:flex;

    gap:40px;

    flex-wrap:wrap;

}

.footer-links a{

    color:#F7F3EA;

    text-decoration:none;

    font-size:17px;

    transition:.3s;

}

.footer-links a:hover{

    color:#ffffff;

}

/*========================================

                BOTTOM

========================================*/

.footer-bottom{

    text-align:center;

    padding-top:30px;

}

.footer-bottom p{

    font-size:15px;

    opacity:.8;

}